@import "tailwindcss";

@font-face {
  font-family: "Clash";
  src: url("/fonts/ClashDisplay-Semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.name{
    font-family:  "Clash", sans-serif;
}